# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Claude Code worktrees (auto-created by Claude, never commit)
.claude/
.claude/worktrees/bold-heisenberg-336345
.claude/worktrees/blissful-benz-5e8e3e
.claude/worktrees/bold-heisenberg-336345
.claude/worktrees/bold-heisenberg-336345
.claude/worktrees/quirky-banzai-9f17c9
.claude/worktrees/blissful-benz-5e8e3e
